@font-face {
    font-family: "Geometria";
    src: url("Geometria.eot");
    src: url("Geometria.eot?#iefix") format("embedded-opentype"), url("Geometria.woff") format("woff"),
        url("Geometria.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Geometria-Bold";
    src: url("Geometria-Bold.eot");
    src: url("Geometria-Bold.eot?#iefix") format("embedded-opentype"), url("Geometria-Bold.woff") format("woff"),
        url("Geometria-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: bold;
}
